.row .col-sm-4 .puzzle-block {
    color: #fff;
    padding: 35px 0px;
    background-color: rgb(4, 4, 79);
    text-align: center;
    margin: 3px;
    font-size: 2em;
    border-radius: 5px;
    box-shadow: 2px 2px 10px white;
    /* position: absolute; */

}
.row .col-sm-4 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.row .col-sm-4 .puzzle-vide{
    background-color: #000;
    border-radius: 5px;
}