body{
    height: 100vh;
    margin: auto;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140deg,rgb(255, 0, 200),
              rgb(34, 38, 43),rgb(153, 0, 255),rgb(0, 34, 128),
              rgb(255, 0, 200),rgb(34, 38, 43),rgb(153, 0, 255),
              rgb(0, 34, 128));
}
.container{
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px black;

}
.container h1{
    text-align: center;
    color: rgb(250, 37, 37);
}
.ajout{
    display: flex;
    justify-content: center;
    width: 100%;

}

input{
    width: 100%;
    border: transparent;
    padding: 13px;
    outline: none;
    background-color: rgba(243, 115, 115, 0.61);
}
.ajout > button{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    margin-left: 30px;
}
.btn{
    margin-top: 10px;
}
.btn button{
    background-color: rgb(253, 251, 251);
    padding: 10px;
    border-radius: 5px;
    color: black;
}

ul li{
    color: black;
    list-style: none;
    cursor: pointer;
}

ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    align-items: center;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(checked.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    align-items: center;
}
ul li,span{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 3px 5px;
}

ul li span:hover{
    background-color: rgba(202, 199, 199, 0.61);
}
