
body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #fff;
}
.container{
    background-color: black;
    padding: 10px;
}
.container h1{
    text-align: center;
}
.container .create input{
    background-color: black;
    width: 80%;
    border: transparent;
    border-bottom: 2px solid white;
    padding: 5px;
    outline: none;
    color: #fff;
}

.container .create button{
    background-color: black;
    outline: none;
    border: transparent;
}

.container .create button img{
    height: 20px;
    width: 30px;
    border-radius: 50%;
}
.container .btn{
    display: flex;
    justify-content: center;
    margin: 15px 0px 5px 0px;
}
.container .btn button{
    padding: 10px;
    font-size: 3vmin;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.container .default{
    color: white;
}
.container p{
    color: red;
}
.container i{
    color: green;
}