*{
    border: transparent;
    outline: none;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white ;
    padding: 10px;
}
.container img{
    width: 20px;
}